{{ define "main" }}
<article>
  <div class="row flex-lg-nowrap">
    <div class="col-lg-2 col-xl-2">

    </div>
    
    {{ if ne .Params.toc false -}}
    <nav class="docs-toc{{ if ne .Site.Params.options.navbarSticky true }} docs-toc-top{{ end }} d-none d-xl-block col-xl-4" aria-label="Secondary navigation">
      {{ partial "sidebar/docs-toc.html" . }}
    </nav>
    {{ end -}}
    {{ if .Params.toc -}}
    <main class="docs-content col-lg-11 col-xl{{ if eq .Site.Params.options.fullWidth false }}-9{{ end }}">
    {{ else -}}
    <main class="docs-content col-lg-11 col-xl-9 mx-xl-auto">
    {{ end -}}
      {{ if .Site.Params.options.breadCrumb -}}
        <!-- https://discourse.gohugo.io/t/breadcrumb-navigation-for-highly-nested-content/27359/6 -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {{ partial "main/breadcrumb" . -}}
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      {{ end }}
          <h1>{{ .Title }}</h1>
          {{ partial "main/blog-meta.html" . }}
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ if ne .Params.toc false -}}
      <nav class="d-xl-none" aria-label="Quaternary navigation">
        {{ partial "sidebar/docs-toc.html" . }}
      </nav>
      {{ end -}}
      {{ .Content }}

      {{ if .Params.tags -}}
      <div class="mt-4">
        {{ range $index, $tag := .Params.tags -}}
          <a class="btn btn-light" href="{{ "/tags/" | absURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
        {{ end -}}
      </div>
      {{ end -}}

      <div class="page-footer-meta d-flex flex-column flex-md-row justify-content-between">
        {{ if .Site.Params.lastMod -}}
          {{ partial "main/last-modified.html" . }}
        {{ end -}}
        {{ if .Site.Params.editPage -}}
          {{ partial "main/edit-page.html" . }}
        {{ end -}}
      </div>
      {{ partial "main/docs-navigation.html" . }}
      <!--
      {{ if not .Site.Params.options.collapsibleSidebar -}}
        {{ partial "main/docs-navigation.html" . }}
      {{ else -}}
        <div class="my-n3"></div>
      {{ end -}}
      -->
    </main>
  </div>
</article>
{{ $related := .Site.RegularPages.Related . | first 3 -}}
{{ with $related -}}
<div class="related-posts">
<div class="row justify-content-center">
  <div class="col">
    <h2 class="section-title">Informasi Lainnya</h2>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-lg-5">
  {{ range . -}}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <article>
          <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
          <p>{{ .Params.excerpt | safeHTML }}</p>
          {{ partial "main/blog-meta.html" . -}}
        </article>
      </div>
    </div>
  </div>
  {{ end -}}
</div>
</div>
{{ end -}}


<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center mt-lg-3">
  
    </div>
  </div>
</section>

{{ end }}

