{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-8 col-xl-8">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{ partial "main/breadcrumb" . -}}
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
    <article>
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>

  <div class="col-md-4 col-lg-4 col-xl-4">
    <article>
      <h1 class="text-center">{{ if eq .CurrentSection .FirstSection }}{{ .Section | humanize }}{{ else }}{{ .Title }}{{ end }}</h1>
			<div class="card-list">
				{{ $currentSection := .CurrentSection }}
				{{ range where .Site.RegularPages.ByTitle "Section" .Section }}
					{{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
						<div class="card my-3">
							<div class="card-body">
								<a class="stretched-link" href="{{ .RelPermalink }}">{{ .Params.title | title }} &rarr;</a>
							</div>
						</div>
					{{ end }}
				{{ end }}
			</div>
    </article>
  </div>

</div>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center mt-lg-3">

    </div>
  </div>
</section>
{{ end }}



